server:
  port: 8086

spring:
  profiles: dev
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      default_schema: public
      ddl-auto: none

     
odm:
  product-plane:
    notification-service:
      address: http://localhost:8006
      active: true